
# Ignore Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Ignore environment config
.env

# Ignore VS Code settings
.vscode/

# Ignore Mac system files
.DS_Store
